name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
        with:
          # fetch full history so we can commit/push
          fetch-depth: 0

      - name: Cache asdf Tools
        uses: actions/cache@v5
        id: cache-asdf
        with:
          path: ~/.asdf
          key: asdf-${{ runner.os }}-${{ hashFiles('.tool-versions') }}

      - name: Install Dependencies via asdf
        uses: asdf-vm/actions/install@v4

      - name: Cache pre-commit hooks
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Execute pre-commit
        run: pre-commit run --show-diff-on-failure --color=always --all-files
